@using DoAnI.Models;
@model IEnumerable<SanPham>

@{
    ViewBag.Title = "NhapHangDon";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}


@* Thể hiện dữ liệu thông qua control webgrid *@
<div class="col-md-12">
    @grid.GetHtml(
    tableStyle: "table divtable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("MaSP", "Mã SP"),
    grid.Column("TenSP", "Tên SP"),
    grid.Column("HinhAnh", "Hình Ảnh", format: p => @Html.Raw("<img width=\"70px\" height=\"70px\" src=\"/Content/images/" + p.HinhAnh + "\">")),
    grid.Column("SoLuongTon", "Số lượng tồn"),
    grid.Column(format: p => @Html.ActionLink("Nhập hàng", "NhapThemHang", new { id = p.MaSP }))
))
</div>
<style>
    .divtable {
        border: 1px solid #ffffff;
    }
</style>
