
@{
    ViewBag.Title = "KhongDuQuyen";
    Layout = "~/Views/Layouts/ProductLayout.cshtml";
}

<h2 style="color:red">Bạn không đủ quyền truy cập trang này</h2>
@Html.ActionLink("Quay lại","Index","Home")

