
    <div class="cart">
        <a href="@Url.Action("XemGioHang","GioHang")" title="Xem giỏ hàng của tôi" rel="nofollow">
            
            <span class="cart_title">Giỏ hàng:</span>
            <span class="no_product">@ViewBag.TongSL SP</span>
            <span>@ViewBag.TongTien VNĐ</span>
        </a>
    </div>

